<?xml version="1.0"?>
<configuration>
<!--
  <location path="Main.aspx">
    <system.web>
      <authorization>
        <deny users="?"/>
        <deny roles="Client"/>
      </authorization>
    </system.web>
  </location>
  <location path="Edit.aspx">
    <system.web>
      <authorization>
        <deny users="?"/>
        <deny roles="Estab"/>
      </authorization>
    </system.web>
  </location>
-->
</configuration>
