<?xml version="1.0"?>
<configuration>
<!-- 
  <location path="Main.aspx">
    <system.web>
      <authorization>
        <deny users="?"/>
        <deny roles="Estab"/>
      </authorization>
    </system.web>
  </location>
  <location path="Preferences.aspx">
    <system.web>
      <authorization>
        <deny users="?"/>
        <deny roles="Estab"/>
      </authorization>
    </system.web>
  </location>
  <location path="History.aspx">
    <system.web>
      <authorization>
        <deny users="?"/>
        <deny roles="Estab"/>
      </authorization>
    </system.web>
  </location>
  <location path="Settings.aspx">
    <system.web>
      <authorization>
        <deny users="?"/>
        <deny roles="Estab"/>
      </authorization>
    </system.web>
  </location>
-->
</configuration>
