	pushi 0
	pushi 0
	pushi 0
start
	read
	atoi
	storeg 0
	pushg 0
	pushi 0
	sup
	jz if0
	read
	atoi
	storeg 1
ciclo0:
	nop
	pushg 0
	pushi 0
	sup
	jz end0
	read
	atoi
	storeg 2
	pushg 2
	pushg 1
	inf
	jz if1
	pushg 2
	storeg 1
if1:
	nop
	pushg 0
	pushi 1
	sub
	storeg 0
	jump ciclo0
end0:
	nop
if0:
	nop
	pushg 1 
	writei
stop
